<h1 style=" padding-top: 3%; font-size: 2.5rem; color: #ffffff; margin-bottom: 20px; text-align: center;">Ejercicio 1 - Electrodomésticos</h1>
<h4 style=" font-size: 1.5rem; color: #ffffff; margin-bottom: 20px; text-align: center;">Electrodomésticos</h4>
<div class="container">
  <div class="form-container">
    <h2 style="color: rgb(255, 255, 255); font-weight: bold;"> Formulario de 'Añadir/Editar' Electrodomésticos</h2>
    <div>
      <p>
        <strong>Id:</strong> <input type="text" style="color: rgb(255, 255, 255); font-weight: bold;" [(ngModel)]="electrodomestico.id" />
        @if(mostrarErrores && electrodomestico && !electrodomestico.id){
          <span style="color: red;">Es necesario que el Id sea un valor mayor a cero</span>
        }
      </p>
      <p>
        <strong>Nombre:</strong> <input type="text" style="color: rgb(253, 253, 253); font-weight: bold;" [(ngModel)]="electrodomestico.nombre" />
        @if(mostrarErrores && electrodomestico && !electrodomestico.nombre){
          <span style="color: red;">Este campo es obligatorio</span>
        }
      </p>
      <p>
        <strong>Marca:</strong> <input type="text" style="color: rgb(255, 255, 255); font-weight: bold;" [(ngModel)]="electrodomestico.marca" />
        @if(mostrarErrores && electrodomestico && !electrodomestico.marca){
          <span style="color: red;">Este campo es obligatorio</span>
        }
      </p>
      <p>
        <strong>Precio:</strong><input type="number" style="color: rgb(255, 255, 255); font-weight: bold;" [(ngModel)]="electrodomestico.precio" />
        @if(mostrarErrores && electrodomestico && !electrodomestico.precio){
          <span style="color: red;">Este campo es obligatorio</span>
        }
      </p>
      <p>
        <strong>Cantidad:</strong><input type="number" style="color: rgb(255, 255, 255); font-weight: bold;" [(ngModel)]="electrodomestico.cantidad" />
        @if(mostrarErrores && electrodomestico && !electrodomestico.cantidad){
          <span style="color: red;">Este campo es obligatorio</span>
        }
      </p>
      <p>
        <button type="button" class="btn" style="background-color: rgb(0, 0, 190); color: white; display: block; margin: 0 auto;" 
        (click)="mostrarErrores = true; insertarElectrodomestico()"><strong>Añadir Electrodoméstico</strong></button>
      </p>
      <p>
        <button type="button" class="btn" style="background-color: rgb(255, 238, 0); color: rgb(0, 0, 0); display: block; margin: 0 auto;" 
         (click)="this.updateElectrodomestico()" 
         [disabled]="!isFormValid()"><strong>Guardar Modificación</strong></button>
      </p>
    </div>
  </div>


   <div class="product-list">
      <h2 style="color: white;" >Lista de Electrodomésticos</h2>
      @if (electrodomesticos.length > 0) {
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            @for (electrodomestico of electrodomesticos; track electrodomestico.id) {
              <tr>
                <td>{{ electrodomestico.id }}</td>
                <td>{{ electrodomestico.nombre }}</td>
                <td>{{ electrodomestico.marca }}</td>
                <td>{{ electrodomestico.precio }}</td>
                <td>{{ electrodomestico.cantidad }}</td>
                <td>
                  <button type="button" class="btn" style="background-color: rgb(0, 128, 96); color: white;" 
                  (click)="selectElectrodomestico(electrodomestico)">Editar</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" 
                  (click)="deleteElectrodomestico(electrodomestico)">Borrar</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <h4 style="color: red; text-align: center">La base de datos no contiene electrodomesticos</h4>
      }
  </div>
</div>
