<!-- acerca-del-desarrollador.component.html -->
<section class="about-developer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="developer-image">
            <img src="/foto.png" alt="Desarrollador" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6">
          <div class="developer-info">
            <h2>Acerca del Desarrollador</h2>
            <p class="lead" style="text-align: justify;" >
              Hola, soy Carlos, estudiante de desarrollo de software y apasionado por la creación de aplicaciones web. Me gusta construir soluciones prácticas y escalables que realmente funcionen para quienes las necesitan.
            </p>
            <p style="text-align: justify;">
              Esta página web está hecha con Angular y usa Firebase como base de datos. Siempre estoy aprendiendo nuevas tecnologías y buscando desafíos que me ayuden a mejorar.
            </p>
            <p style="text-align: justify;">
              También, disfruto compartir lo que sé con mis compañeros y colaborar en proyectos interesantes.
            </p>
            <div class="social-icons">
              <a target="_blank"><i class="fab fa-facebook"></i></a>
              <a target="_blank"><i class="fab fa-whatsapp"></i></a>
              <a target="_blank"><i class="fab fa-x-twitter"></i></a>
              <a target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>